* {
    margin: 0px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

section {
    margin-top: 30px;
}

#header {
    margin: 2px;
    z-index: 2;
}

body {
    height: 100vh;
    width: 100vw;
    background: #fce4d4;
}

#content {
    grid-area: pa;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 200px 200px;
    grid-template-areas: 
    "he"
    "pa"
    "img"
}

#startpage_header {
    grid-area: he;
}

#startpage_text {
    grid-area: pa;
}

.burger_meny_showing #burger_meny_list {
    top: -100%
}

#burger_meny_list {
    background-color: #face92;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all, 1s;
    z-index: 1;
}

#grid_parent {
    height: 1fr;
    width: 1fr;
    background: #fce4d4;
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 50px 200px 20px;
    grid-template-areas: 
    "he na"
    "pa pa"
    "fo fo";
}

.burger_meny_showing #grid_parent {

}

#burger_icon div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 15%;
    transition: all, 0.5s;
}

#burger_icon {
    margin-top: 5px;
    margin-right: 5px;
    grid-area: na;
    position: fixed;
    z-index: 2;
}

#line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#line_2 {
    opacity: 0;
}

#line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.burger_meny_showing #line_1 {
    transform: rotate(0deg) translate(0px, 0px);
}

.burger_meny_showing #line_2 {
    opacity: 1;
}

.burger_meny_showing #line_3 {
    transform: rotate(0deg) translate(0px, 0px);
}

#picture_of_nuts {
    grid-area: img;
    position: relative;
}

#card_layout_parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px 500px;
    grid-template-areas: 
    "c1 c2 c3 c4"
    "c5 c6 c7 c8";
}

#card1 {
    grid-area: c1;
    background: red;
    margin: 2px;
}

#card2 {
    grid-area: c2;
    background: red;
    margin: 2px;
}

#card3 {
    grid-area: c3;
    background: red;
    margin: 2px;
}

#card4 {
    grid-area: c4;
    background: red;
    margin: 2px;
}

#card5 {
    grid-area: c5;
    background: red;
    margin: 2px;
}

#card6 {
    grid-area: c6;
    background: red;
    margin: 2px;
}

#card7 {
    grid-area: c7;
    background: red;
    margin: 2px;
}

#card8 {
    grid-area: c8;
    background: red;
    margin: 2px;
}

@media screen and (min-width: 700px) {
    #burger_meny_list {
        width: 100px;
    }
}