.burger_meny_showing #burger_meny_list {

}

#grid_parent {
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 20px;
    grid-template-areas: 
    "he na"
    "fo fo";
}

.burger_meny_showing #grid_parent {

}

#burger_icon div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 15%;
    transition: all, 0.5s;
}

#burger_icon {
    margin-top: 5px;
    margin-right: 5px;
}

.burger_meny_showing #line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_meny_showing #line_2 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_meny_showing #line_3 {
    transform: rotate(-45deg) translate(-5px, 6px);
}